header.navbar {
  height: 40px;
  color: $buttontext;
}

a.btn.btn-link {
  color: $buttontext;
}

a.btn.btn-link:hover {
  color: $darkgreenheaders;
}

a.navbar-brand.mr-2 {
  color: $darkgreenheaders;
}

p.logged-in {
  margin: 0px;
  padding: 6px 15px;
}