
.place-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.place-show-header {
  display: flex;
  align-self: flex-start;
  font-size: 50px;
  padding: 40px 40px 0px 150px;
}

.place-show-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  padding: 0px 80px;
  justify-content: center;

    .place-detail {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0px 0px 40px 0px;
      flex-basis: 50%;
      justify-content: center;
      align-content: center;
    }

    .place-buttons {
      display: flex;
      flex-direction: column;
      
    }

    .comments-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-basis: 50%;
      padding-bottom: 60px;
    }

    .categories-wrapper {
      display: flex;
      width: 100vw;
      padding: 0px 60px;
    }

    h2.place-show-categories {
      padding: 5px 0px 0px 0px;
      margin: 0px 0px 10px 100px;
    }

    .place-show-cat-list {
      padding: 15px;
    }

    .place-show-image {
      height: 350px;
      width: 350px;
      margin-bottom: 10px;
      // padding: 0px 0px 0px 80px;
    }

    .edit-place > a {
      color: $darkgreenheaders;
      text-decoration: none;
    }

    .edit-place:hover {
    opacity: 0.5;
    cursor: pointer;
      
    }

    .edit-place, .delete-place {
      display: flex;
      flex-basis: 50%;
      margin: 5px;
      padding: 0px;
      text-align: center;
      height: 30px;
      background: none;
    }

    .delete-place:hover {
      opacity: 0.5;
      cursor: pointer;
        
      }

    .comment-text-input {
      width: 400px;
      height: 200px;
      opacity: 0.5;
    }

    .comment-submit-button {
      width: 50px;
    }

}
.notes-header {
  display: flex;
}

@media screen and (max-width: 800px) {
  .categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

}