
h2.register-title {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

.register-form {
  height: 500px;
  width: 600px;
  box-shadow: 5px 5px 10px $darkgrey;
  justify-self: center;
  align-self: center;
  margin: 0px;

 

  .field {
    // width: 100px;
    align-self: center;
    justify-self: center;
    margin-left: 150px;
    margin-top: 50px;
  
    input {
      width: 300px;
      height: 40px;
    }
  
  }

  .register-button {
    width: 200px;
    height: 40px;
    margin: 50px 0px 0px 200px;
  }

  .register-button:hover {
    color: $buttontext;
    cursor: pointer;
  }

  }

}